.homeBottom {
    padding: 0px 64px 100px 64px;
}

footer {
    background-color: #fbfbfb;
    border: 1px solid #eee;
    padding: 50px;
    border-radius: 28px;
}

.footerOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footerOne ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 18px;
}

.footerOne span {
    color: #0070f3;
    margin-left: auto;
    font-weight: 550;
    font-size: 14.5px;
}

footer div ul li a {
    color: #8b8b8b;
    font-size: 14.5px;
    transition: 0.3s;
}

footer div ul li a:hover {
    color: black;
}

.footerTwo {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 40px;
}

.footerTwo span {
    color: #8b8b8b;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 1em;
}

@media(max-width: 950px) {
    .footerOne ul {
        top: initial;
        left: initial;
        transform: initial;
        position: inherit;
        flex-direction: column;
    }

    .footerOne {
        flex-direction: column;
        align-items: initial;
        gap: 35px;
    }

    .footerOne ul {
        gap: 9px;
    }

    .footerOne span {
        margin-left: initial;
    }
}

@media(max-width: 790px) {
    .homeBottom {
        padding: 0px 40px 100px 40px;
    }
}

@media(max-width: 570px) {
    .homeBottom {
        padding: 0px 30px 100px 30px;
    }
}

@media(max-width: 500px) {
    footer {
        padding: 50px 35px;
    }
}

@media(max-width: 460px) {
    footer {
        padding: 45px 25px;
        border-radius: 15px;
    }
}