.blockContent {
    margin: auto;
    max-width: 1100px;
}

.services {
    background-color: white;
    border: 1px solid #eee;
    padding: 40px;
    border-radius: 32px;
    margin-top: 80px;
}

.serviceFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.serviceFlex p {
    font-size: 32px;
    font-weight: 550;
}

.serviceFlex span {
    background: rgba(16, 208, 127, .1);
    color: #0a955a;
    font-size: 14px;
    padding: 8px 15px;
    font-weight: 550;
    border-radius: 100px;
}

.servicesGrid {
    display: grid;
    grid-template-rows: 560px 460px;
    grid-gap: 12px;
}

.servicesGrid .service {
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 15px;
}

.servicesGrid .service::before {
    background: linear-gradient(45deg, #1b1b1b 15%, rgba(27, 27, 27, 0) 80%);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.serviceText {
    color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 45px;
    z-index: 1;
}

.serviceTtitle {
    font-size: 24px;
    font-weight: 550;
    max-width: 300px;
    line-height: 1.23em;
}

.serviceDesc {
    color: rgba(251, 251, 251, .6);
    margin: 15px 0px;
    font-size: 14px;
    max-width: 350px;
    font-weight: 500;
    line-height: 1.4em;
}

.serviceLink {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 12px;
}

.servicesGrid .service img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.servicesGrid .service:hover img {
    transform: scale(1.06);
}

.servicesGrid .service:nth-child(3) {
    grid-column: span 2;
}

.blockFlex {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    margin-top: 24px;
    border-radius: 32px;
}

.blockFlex {
    padding: 32px 40px;
}

.blockFlex p {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.3em;
}

@media(max-width: 1080px) {
    .blockFlex {
        flex-direction: column;
        align-items: initial;
    }
}

@media(max-width: 1000px) {
    .servicesGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 400px);
    }

    .serviceText {
        margin: 38px;
    }

    .serviceDesc {
        margin: 12.5px 0px;
    }

    .servicesGrid .service:nth-child(3) {
        grid-column: initial;
    }
}

@media(max-width: 650px) {
    .serviceFlex p {
        font-size: 27px;
    }
}

@media(max-width: 570px) {
    .serviceText {
        margin: 33px;
    }
}

@media(max-width: 500px) {
    .blockFlex {
        padding: 35px;
    }

    .services {
        padding: 40px 35px;
    }
}

@media(max-width: 460px) {

    .blockFlex,
    .services {
        border-radius: 15px;
    }
}

@media(max-width: 450px) {
    .serviceFlex {
        flex-direction: column;
        align-items: initial;
        gap: 10px;
    }

    .serviceFlex span {
        width: fit-content;
    }

    .services,
    .blockFlex {
        padding: 35px 25px;
    }
}