.Slideshow {
    padding: 150px 0px;
}

.slideContainer {
    position: relative;
    overflow: hidden;
}

.slideContainer::before,
.slideContainer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    z-index: 1;
    pointer-events: none;
}

.slideContainer::before {
    left: 0;
    background: linear-gradient(to right, white, transparent);
}

.slideContainer::after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
}

.slideContainer.secContainer {
    margin-top: 25px;
}

.slideContainer.secContainer .slideFlex {
    animation: slideTwo 10s linear infinite;
}

.slideFlex {
    display: flex;
    animation: slide 10s linear infinite;
    gap: 24px;
    font-size: 70px;
    font-weight: 500;
}

.slideFlex p {
    background: linear-gradient(to right, rgb(16, 208, 127, 0.40), transparent);
    border-left: 4px solid #10d07f;
    padding: 0px 10px;
    white-space: nowrap;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slideTwo {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

@media(max-width: 860px) {
    .slideFlex {
        font-size: 60px;
    }
}

@media(max-width: 500px) {

    .slideContainer::before,
    .slideContainer::after {
        width: 150px;
    }

    .slideFlex {
        font-size: 45px;
    }
}